.el-dialog {
  background: #192a37;
  color: #fff;
}
.el-dialog .el-dialog__header .el-dialog__title {
  color: #fff;
  font-size: 0.9vw;
}
.el-pager li {
  color: #fff;
  background: unset;
}
.el-pagination button:disabled {
  background-color: unset;
}
.el-pagination .btn-next, .el-pagination .btn-prev {
  background: unset;
}
el-pagination .btn-next,
.el-pagination .btn-prev {
  color: #00ffff;
}
.el-pagination__jump {
  color: #fff;
}
.el-input__inner {
  background: #172f3b;
  border: 1px solid #1e6f85;
  height: 3.7vh;
}
.el-select-dropdown {
  background-color: #192a37;  border-color:#00FFFF
}.el-select-dropdown__item{	color:#fff;}.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{	background:#00a5a5;}.el-select:focus{	outline: none;}.el-range-editor.is-active, .el-range-editor.is-active:hover,.el-input__inner:hover,.el-select .el-input.is-focus .el-input__inner,.el-select:hover .el-input__inner{	border-color:#00FFFF}
.el-input__suffix {
  display: flex;
  align-items: center;
}

.el-pagination__editor {
  margin: 0 0.4vw;
}

.el-dialog .el-dialog__body .username {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2vh;
}
.el-dialog .el-dialog__body .username input {
  width: 14.8vw;
  height: 3.7vh;
  color: #b3b3b3;
  font-size: 0.7vw;
  background-color: #0e2328;
  padding-left: 0.7vw;
  border: 1px solid #0c474c;
  outline: none;
  margin-top: 0.7vh;
}
.el-transfer .el-transfer-panel {
  background: #16323e;
  width: 14.8vw;
  border: 1px solid #0c474c;
}
.el-transfer-panel .el-transfer-panel__header {
  background: #16323e;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 0.7vw;
  color: #fff;
}
.el-checkbox__inner {
  background-color: #0a283e;
  border: 1px solid #2589a0;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #0a283e;
}
.el-checkbox__inner::after {
  border: 1px solid #00ffff;
  border-left: 0;
  border-top: 0;
}
.el-transfer-panel__item.el-checkbox {
  color: #fff;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #fff;
}
.el-transfer__button {
  border-radius: 0.5vw;
  background-color: #25a9cc;
}
.el-transfer__button i,
.el-transfer__but {
  color: #192a37;
}