.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 1300ms;
  position: absolute;
} 
.slide-right-enter {
  opacity: 0;
  transform: translateX(-100%);
}
 
.slide-right-leave-active {
  opacity: 0;
  transform: translateX(100%);
}
 
.slide-left-enter {
  opacity: 0;
  transform: translateX(100%);
}
 
.slide-left-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}.el-alert{	background:rgba(0,0,0,0)!important}.el-dialog{	box-shadow:rgb(11, 234, 235) 0px 0px 8px inset;	border-top:1px solid #00ffff;	border-bottom:1px solid #00ffff}
.el-dialog__body{	padding-right:0px;}
